# Ignore core WordPress files
wp-admin/
wp-includes/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/backup-db
wp-content/upgrade
#
